<% if (num_partidos !== 0) { %>
    <h1>
        CLASIFICACIÓN FINAL
    </h1>
    
    <table id="usersIndex">
        <thead>
            <tr>
                <th>JUGADOR</th>
                <th>PUNTUACIÓN</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i in parejas) { %>
                <tr>
                    <td><%= parejas[i].nombre %></td>
                    <td><%= parejas[i].puntuacion %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <br>
<% } %>